@import url('https://fonts.googleapis.com/css?family=Exo:300,400,400i,500,600,700,800,900|Lato:400,700,700i,900|Open+Sans:300,400,600,700');

*{margin: 0;    padding: 0; border: 0;  outline: 0; list-style-type: none;  font-weight: inherit;   font-style: inherit;    vertical-align: baseline;   -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;}


*:focus{
    outline: 0;
}

*:active{outline: 0; border:none;}

b{
    font-weight: bold;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    min-height: 100%;
    font-size: 16px;
    letter-spacing: 0.4px;
    height:100%;
}

body{
    background-color: #fff;
    min-height: 100%;
}
a{
    color: #555;
}
p{
    font-size: 0.9375em;
    font-weight: 400;
    line-height: 1.6;
    color: rgba(0,0,0,0.7);
    letter-spacing: 0.01rem;
    margin-bottom: 20px;
    word-wrap: break-word;
    -webkit-text-rendering: optimizelegibility;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
}

.textjustify{
    text-align: justify;
}

.textcenter{
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

strong {
    font-weight: bold
}

a{
    text-decoration:none;
}

header{
    
}

header .topbar{
    width: 100%;
    background: rgba(0,0,0,.025);
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.075);
}

header .topbar ul {
    margin: 0;
}

header .topbar ul li {
    /* display: inline-block; */
    padding: 0 10px;
    border-right: 1px solid rgba(0,0,0,.075);
    float: left;
}

header .topbar ul li:first-child {
    padding-left: 0;
}

header .topbar ul li a {display: table-cell;padding: 6px 5px;font-size: 11px;font-weight: 700;color: #777;line-height: 26px;float: left;height: 40px;}

header .topbar ul li a b {
    float: left;
    border: 1px solid #e8e8e8;
    box-shadow: inset 0 -1px 0 0 #f5f5f5;
    padding: 0 6px;
    border-radius: 3px;
    cursor: pointer;
}

header .topbar ul li i {}

header .topbar ul li span {float: left;display: table-cell;vertical-align: middle;padding: 6px 10px;font-size: 11px;font-weight: 500;color: #777;line-height: 28px;}

header .header{
    width: 100%;
    background-color: #fff;
    height: 95px;
}

header .header .brasao{
    position: relative;
    float: left;
    text-align: center;
}

header .header .brasao a{float: left;width: 100%;padding: 10px;position: relative;}

header .header .brasao img{
    height: 75px;
    display: block;
}

header .header .links{
    float: right;
    margin: 27px 0 27px;
}

header .header .links a{
    min-width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    background: #eaeaea;
    margin-left: 5px;
    line-height: 40px;
    font-size: 1.25em;
    border-radius: 3px;
    color: #fff;
}

header .header .links a span{
    font-size: 0.75em;
    float: left;
}

header .header .links a img{
    float: left;
    width: 27px;
    margin: 5px 0;
    margin-right: 10px;
}
header .header .links a.call{
    background: #edc92c;
    padding: 0 15px;
}

header .header .links a.fb{
    background: #4e598f;
}

header .header .links a.tw{
    background: #00aced;
}

nav{
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    z-index: 99;
}
 nav .navigation{
    width: 100%;
    background-color: #3a7885;
    margin-bottom: 15px;
 }

 /* Paddings e Margins */
 .paddingtop_10{
    padding-top: 10px;
 }

.paddingtop_20{
    padding-top: 20px;
 }

 .paddingtop_30{
    padding-top: 30px;
 }

 .paddingtop_40{
    padding-top: 40px;
 }

 .paddingbottom_10{
    padding-bottom: 10px;
 }

 .paddingbottom_20{
    padding-bottom: 20px;
 }


 .paddingbottom_30{
    padding-bottom: 30px;
 }

 .paddingbottom_40{
    padding-bottom: 40px;
 }

 .paddingtb_10{
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .paddingtb_20{
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .paddingtb_30{
    padding-top: 30px;
    padding-bottom: 30px;
 }

 .paddingtb_40{
    padding-top: 40px;
    padding-bottom: 40px;
 }

.padding10{
    padding: 10px;
}

.padding20{
    padding: 20px;
}

.padding30{
    padding: 30px;
}

.marginbottom_10{
    margin-bottom: 10px;
}
.marginbottom_20{
    margin-bottom: 20px;
}
.marginbottom_30{
    margin-bottom: 30px;
}

.marginbottom_40{
    margin-bottom: 40px;
}

.w100{
    width: 100%;
}


.box_topo{
    margin-bottom: 10px;
}

.box_topo .sy-box{
    position: relative;
}

.box_topo .slide{
    background-color:bisque;
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.box_topo .links{
    
}

.box_topo .links ul {
    margin-bottom: 0;
}

.box_topo .links li{
    
margin-bottom: 10px;
}

.box_topo .links li a{
    width: 100%;
    height: 170px;
    float: left;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 0.9375em;
    border-radius: 5px;
}

.box_topo .links li:nth-child(1) a{
    background-color: #4285f4;
}
.box_topo .links li:nth-child(2) a{
    background-color: #d56073;
}
.box_topo .links li:nth-child(3) a{
    background-color: #76bc76;
    margin-bottom: 0;
}
.box_topo .links li:nth-child(4) a{
    background-color: #6b455e;
    margin-bottom: 0;
}

.box_topo .links li img{
    max-width: 110px;
    max-height: 100px;
    margin-bottom: 10px;
}

.box_topo .links li span{
    float: left;
    width: 100%;
}

.box_topo .links_transparencia{
}

.box_topo .links_transparencia ul{
    margin-bottom: 0;
    float: left;
    width: 100%;
}

.box_topo .links_transparencia ul li{
    width: 50%;
    float: left;
    padding-bottom: 5px;
}

.box_topo .links_transparencia ul li:nth-child(even) {
    padding-left: 2px;
}

.box_topo .links_transparencia ul li:nth-child(odd) {
    padding-right: 2px;
}

.box_topo .links_transparencia ul li:nth-child(7), .box_topo .links_transparencia ul li:nth-child(8) {
    padding-bottom: 0;
}

.box_topo .links_transparencia ul li:nth-child(7) a, .box_topo .links_transparencia ul li:nth-child(8) a {
    line-height: 66px;
}

.box_topo .links_transparencia ul li a{
    display: block;
    width: 100%;
    padding: 10px 6px;
    padding-right: 10px;
    max-height: 110px;
    border-radius: 5px;
    color: #566;
    transition: all 0.3s;
    line-height: 63px;
    overflow: hidden;
    position: relative;
    color: #fff;
}
.box_topo .links_transparencia ul li:nth-child(1) a{
    background: #2980b9;
}
.box_topo .links_transparencia ul li:nth-child(1) a:before{
}
.box_topo .links_transparencia ul li:nth-child(2) a{
    background: #1abc9c;
}
.box_topo .links_transparencia ul li:nth-child(2) a:before{
}
.box_topo .links_transparencia ul li:nth-child(3) a{
    background: #c0392b;
}
.box_topo .links_transparencia ul li:nth-child(3) a:before{}
.box_topo .links_transparencia ul li:nth-child(4) a{
    background: #f39c12;
}
.box_topo .links_transparencia ul li:nth-child(4) a:before{}
.box_topo .links_transparencia ul li:nth-child(5) a{
    background: #52686A;
}
.box_topo .links_transparencia ul li:nth-child(5) a:before{}
.box_topo .links_transparencia ul li:nth-child(6) a{
    background: #4C3232;
}
.box_topo .links_transparencia ul li:nth-child(6) a:before{}
.box_topo .links_transparencia ul li:nth-child(7) a{
    background-color: #2ecc71;
}
.box_topo .links_transparencia ul li:nth-child(7) a:before{}
.box_topo .links_transparencia ul li:nth-child(8) a{
    background-color: #2994B2;
}
.box_topo .links_transparencia ul li:nth-child(8) a:before{}

.box_topo .links_transparencia ul li a:before{
    content: "";
    width: 110px;
    height: 110px;
    display: block;
    position: absolute;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
    top: 0px;
    left: -53px;
    background: rgba(0, 0, 0, 0.15);
}

.box_topo .links_transparencia ul li a:hover {
}

.box_topo .links_transparencia ul li .img{
    width: 50px;
    height: 50px;
    background: #3a7885;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.box_topo .links_transparencia ul li img{width: 40px;margin-right: 12px;margin-left: 3px;display: inline-block;vertical-align: middle;line-height: normal;position: relative;}

.box_topo .links_transparencia ul li span{
    width: calc(100% - 60px);
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: right;
    margin-bottom: 5px;
}

.box1{
    width: 100%;
}
.linksprincipais{
    display: block;
    float: left;
    width: 100%;
}


.linksprincipais .slick-slide{
}

.linksprincipais .slick-slide a{
    float: left;
    padding: 10px;
    width: calc(100% - 2px);
    margin-right: 2px;
    text-align: center;
    color: #777;
    line-height: 70px;
    background: #f0f0f0;
    height: 100%;
}
.linksprincipais .linkitem:first-child a{
    border-radius: 3px 0 0 3px;
}
.linksprincipais .linkitem:last-child a {
    margin-right: 0;
    width: 100%;
    border-radius: 0 3px 3px 0;
}

.linksprincipais .linkitem img{
    width: 50px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.linksprincipais .linkitem span{
    font-size: 0.9375em;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: left;
    max-width: calc(100% - 60px);
}

ul.slick-dots{
    text-align: center;
    margin-top: 10px;
}

ul.slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px;
}

ul.slick-dots li.slick-active button {
    background: #3a7885;
}

ul.slick-dots li button {
    width: 15px;
    height: 15px;
    float: left;
}

.modulo{
    margin-bottom: 10px;
}

.modulo.bgbranco {
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 5px 2px #eaeaea;
    border-radius: 3px;
}

.modulo .titulo_modulo{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    height: 35px;
}

.modulo .titulo_modulo span{
    text-transform: uppercase;
    font-weight: 900;
    color: #3a7885;
    padding: 0 5px;
    font-size: 15px;
    line-height: 32px;
    display: inline-block;
    border-bottom: 3px solid #3a7885;
}

.modulo .modulo-content{
}

.box2{
    background: #E6EBFF!important;
}

.box_multimidia{
    background: #E6EBFF;
}

.box_multimidia ul{}

.box_multimidia ul li{
    padding: 5px;
}

.box_multimidia li a{
    display: block;
    position: relative;
}

.box_multimidia li a:hover  > span.hover{
    opacity: 1;
}

.box_multimidia li a > span.hover {
    position: absolute;
    color: #fff;
    opacity: 0;
    top: 3px;
    left: 0px;
    border-radius: 5px 0 0 0;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 30px;
    background: -moz-linear-gradient(108deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0.75) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.75)), color-stop(64%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(108deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0.75) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(108deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0.75) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(108deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0.75) 100%); /* ie10+ */
    background: linear-gradient(342deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0.75) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
    transition: all 0.5s ease;
}

.box_multimidia li a img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box_multimidia li a .detalhes {
    text-align: center;
}

.box_multimidia li a .detalhes strong {
    color: #444;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.box_multimidia li a:hover .detalhes strong {
    color: #3a7885;
}

.box_multimidia li a .detalhes span{
    display: block;
    font-size: 11px;
    color: #444;
    font-weight: 400;
}

.titulo_section{}

.titulo_section h2{
    text-transform: uppercase;
    font-weight: 900;
    color: #555;
    font-size: 20px;
    line-height: 35px;
    margin: 0;
}

.box_secretarias{}

.box_secretarias .item{}

.box_secretarias .item .img{
    text-align: center;
}

.box_secretarias .item .img img{
    width: 150px;
    display: inline-block;
    background: #f3f3f3;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 1px #999;
    margin-bottom: 10px;
}

.box_secretarias .item h3{
    margin: 0;
    text-align: center;
    font-size: 1.1em;
}

.filter-table{}

.filter-table select{}

.box_editais{}

.box_editais ul{
    float: left;
    width: 100%;
}

.box_editais ul li{
    padding: 10px;
    background: #fff;
    margin-bottom: 5px;
    padding-left: 15px;
    float: left;
    width: 100%;
}

.box_editais ul li .detalhes {
    width: calc(100% - 90px);
    float: left;
}

.box_editais ul li a.vermais {
    float: right;
    width: 90px;
    text-align: center;
    padding: 5px;
    background: #3a7885;
    color: #fff;
    font-size: 13px;
    height: 38px;
    line-height: 28px;
}

.box_editais ul li h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #444;
}

.box_editais ul li span {
    font-size: 12px;
    color: #555;
}


/* BreadCrumbs */
#breadcrumb{
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    margin-top: -15px;
    padding: 15px 0;
    margin-bottom: 15px;
}
.breadcrumb{
    margin: 0;
}
.breadcrumb li{
    font-size: 13px;
    color: #777;
}

.breadcrumb li a {
    font-weight: 600;
    color: #777;
}

#breadcrumb .titulo{
    display: inline-block;
    font-size: 1.8em;
    font-weight: 400;
    color: #555;
    margin: 10px 0 0px;
}

.conteudo_texto{}

.conteudo_texto p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: rgba(0,0,0,0.7);
    letter-spacing: 0.01rem;
    margin-bottom: 20px;
    word-wrap: break-word;
    -webkit-text-rendering: optimizelegibility;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.conteudo_texto p:first-child::first-letter {
    font-family: proximanova-light,proximanova,sans-serif;
    font-weight: normal;
    float: left;
    font-size: 3.93rem;
    line-height: .75;
    letter-spacing: .15em;
    margin-top: .2em;
}

/* Noticia */
.corpo-noticia{}

.corpo-noticia .resumo{
    margin-bottom: 10px;
}

.corpo-noticia .conteudo_noticia{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #eaeaea;
}

.noticia .detalhes-noticia{}

.noticia .detalhes-noticia li{
    display: inline-block;
    padding: 5px 10px;
    background: #3a7885;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
}

.noticia .detalhes-noticia li i{}

.corpo-noticia .resumo span{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: rgba(0,0,0,0.7);
    letter-spacing: 0.01rem;
    word-wrap: break-word;
    -webkit-text-rendering: optimizelegibility;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-style: italic;
}

.compartilhe{float: left;width: 100%;padding: 10px 0;border-bottom: 1px dashed #eaeaea;}
.compartilhe li{
    float: left;
}
.compartilhe li a{
    font-size: 11px;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 13px 8px 13px;
    margin-right: 10px;
    height: 40px;
    min-width: 40px;
    text-align: center;
    float: left;
}

.compartilhe li a.fb{
    background-color: #516eab;
}

.compartilhe li i{
    font-size: 14px;
    position: relative;
}

.compartilhe li span{
    position: relative;
    line-height: 20px;
    padding-left: 10px;
    margin-left: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.box_secretarias{}

.box_secretarias .item{}

.noticia_destaque{}

.noticia_destaque a{}

.noticia_destaque a:hover{color: #3a7885;}

.noticia_destaque .img{}

.noticia_destaque .img img{
    width: 100%;
}

.noticia_destaque .info{}

.noticia_destaque .info h3{
    font-size: 21px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 0;
}

.noticia_destaque .info i {
    display: block;
    font-size: 11px;
    color: #aaa;
}

.noticia_destaque .info span {
    font-size: 13px;
    color: #777;
    line-height: 21px;
    margin-top: 9px;
    font-weight: 400;
}

.mais_noticias{
    
}

.mais_noticias .item{
    
display: block;
    
width: 100%;
    
float: left;
}

.mais_noticias .item > a{
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 15px;
}

.mais_noticias .item > a:hover {
    color: #3a7885;
}

.mais_noticias .item > a .img{
    width: 140px;
    float: left;
    margin-right: 10px;
}

.mais_noticias .item > a .img img{
    width: 100%;
}

.mais_noticias .item > a .info{
    width: calc(100% - 150px);
    float: left;
}

.mais_noticias .item > a .info h3{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.mais_noticias .item > a .info i {
    font-size: 12px;
    color: #aaa;
    display: block;
}

footer{
    background: #f8f8f8;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #ddd;
    float: left;
    width: 100%;
}

footer .titulo-modulo{
    width: 100%;
    float: left;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

footer .titulo-modulo span{
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
footer .titulo-modulo:after{
    content: "";
    background: #297d41;
    width: 65px;
    height: 2px;
    display: block;
    margin: 10px 0 -2px;
}

footer .mod-link{}

footer .mod-link li{}

footer .mod-link li a{
    font-size: 13px;
    color: #444;
    float: left;
    width: 100%;
    margin-bottom: 7px;
}

footer .mod-link li i{
    color: #297d41;
}

footer .sobre{
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 20px 0 20px;
    font-size: 0.933em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

footer .sobre .logo-roda{}

footer .sobre .logo-roda img{
    width: 90%;
}

footer .sobre .info{
    margin: 10px 0;
}

footer .sobre .info span{
    font-size: 14px;
    line-height: 20px;
    float: left;
    width: 100%;
}

footer .sobre .info span strong {
    font-weight: 600;
}

.desenvolvimento{
    text-align: center;
    float: right;
}

.desenvolvimento span{
    font-size: 11px;
}

.desenvolvimento a{
    display: inline-block;
    width: 100%;
}

.desenvolvimento img{
    height: 25px;
}

.modulo_avisos{}

.modulo_avisos li{
    line-height: 50px;
    padding: 5px 5px;
}

.modulo_avisos li:nth-child(even) {
    background: #f0f0f0;
}

.modulo_avisos li .data{
    float: left;
    width: 35px;
    margin-right: 5px;
    padding-right: 5px;
    color: #444;
    border-right: 1px solid #e7e7e7;
    line-height: normal;
}

.modulo_avisos li .data strong{
    font-size: 23px;
    width: 100%;
    float: left;
    text-align: center;
}

.modulo_avisos li .data span{
    font-size: 13px;
    width: 100%;
    float: left;
    text-align: center;
}

.modulo_avisos li .info{
    width: calc(100% - 40px);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.modulo_avisos li .info h4{
    font-size: 15px;
    margin: 0;
    color: #555;
}
.modulo_avisos li .info span{
    display: block;
    font-size: 11px;
    color: #aaa;
}

.mod-filtro{}

.mod-filtro label{
    width: 100%;
    padding: 10px;
    background: #f0f0f0;
}

.mod-filtro label select{
    width: 100%;
    padding: 8px;
    font-size: 13px;
    font-weight: 400;
}

.button{
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
}

.button.btverde{
    background-color: #26a69a;
    color: #fff;
}

.edital{}

.edital .item{
    border: 1px solid #eaeaea;
    width: 100%;
    margin-bottom: 15px;
}

.edital .item td{
    padding: 10px;
    width: 50%;
    border-bottom: 1px solid #ddd;
}

.edital .item td:nth-child(odd) {
    border-right: 1px solid #ddd;
}

.edital .item td strong {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #3a7885;
}

.edital .item td span {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.edital .item .files{}

.edital .item .files a{
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    color: #555;
    line-height: 25px;
}

.edital .item .files a:hover {
    text-decoration: underline;
}

.edital .item .files a:nth-child(even){
    background: #f1f1f1;
}

#transparencia{
    margin-bottom: 20px;
}

#transparencia h4{}

#transparencia ul{
    padding-left: 10px;
}

#transparencia ul li{
    display: block;
    padding-left: 15px;
    position: relative;
}

#transparencia ul li a{
    font-size: 16px;
    padding: 7px 0;
    display: block;
    position: relative;
    font-weight: 400;
}

#transparencia ul li a:hover {
    text-decoration: underline;
}

#transparencia ul li a:before {
    content: "";
    width: 10px;
    height: 1px;
    color: #000;
    position: absolute;
    top: 50%;
    left: -15px;
    background: #bbb;
}

#transparencia ul li:after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #bbb;
    left: 0;
    top: 0;
}

#transparencia ul li:first-child:after {
    height: 50%;
    top: 50%;
}

#transparencia ul li:last-child:after {
    height: 50%;
}

.title{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    height: 35px;
}

.title span{
    text-transform: uppercase;
    font-weight: 900;
    color: #3a7885;
    padding: 0 5px;
    font-size: 15px;
    line-height: 32px;
    display: inline-block;
    border-bottom: 3px solid #3a7885;
}

#accordion{}

#accordion .item{
    margin-bottom: 5px;
    border: 0;
    box-shadow: none;
}

#accordion .head{}

#accordion .head h4.panel-title{}

#accordion .head h4.panel-title a{
    border: 1px solid #3a7885;
    border-bottom: 3px solid #2e5d67;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 40px;
    height: 55px;
    font-weight: 600;
    color: #fff;
    vertical-align: middle;
    display: block;
    background: #3a7885;
    position: relative;
}
#accordion .head h4.panel-title a.collapsed span{
    background: #a0a0a0;
    color: #fff;
}

#accordion .head h4.panel-title a span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    float: left;
    font-size: 15px;
    text-align: center;
    background: #ffffff;
    color: #4a4a4a;
    margin: 8px 0;
    line-height: 25px;
    margin-right: 5px;
}

#accordion .head h4.panel-title a:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f078";
    font-size: 15px;
    color: #fff;
    position: absolute;
    height: 16px;
    top: calc(50% - 8px);
    right: 20px;
    transform: rotate(-180deg);
    transition: all 0.5s;
}

#accordion .head h4.panel-title a.collapsed:after {#accordion .head
    h4.panel-title a: after;
#accordion .head
    h4.panel-title a: after;
    transform: rotate(0deg);
    color: #999;
}

#accordion .head h4.panel-title a.collapsed {
    border: 1px solid #f1f2f7;
    border-bottom: 3px solid #e4e7ea;
    color: #3a7885;
    background: #fff;
}

#accordion .panel-collapse{
    background: #f7f7f7;
    
}
#accordion .panel-collapse .body{
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: rgba(0,0,0,0.7);
    letter-spacing: 0.01rem;
    word-wrap: break-word;
    -webkit-text-rendering: optimizelegibility;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.box-busca{
    padding: 5px 30px;
    border-radius: 30px;
    background: #eaeaea;
    margin-bottom: 20px;
}

.box-busca:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f002";
    width: 50px;
    height: 50px;
    float: right;
    font-size: 30px;
    line-height: 45px;
    text-align: right;
    color: #999;
}

.box-busca input{
    height: 50px;
    background: transparent;
    width: calc(100% - 50px);
}