#tabela{
    width: 100%;
}

#tabela table{
    width: 100%;
    background: #fff;
    border-radius: 3px;
}

#tabela table thead{}

#tabela table thead tr{}

#tabela table thead th{
    padding: 15px 10px;
    font-size: 13px;
    font-weight: 600;
    color: #3a7885;
    border-bottom: 3px solid #e6ebff;
}

#tabela table thead th:first-child{
}

#tabela table tbody{
    background: #fff;
}

#tabela table tbody tr{}

#tabela table tbody td{
    vertical-align: bottom;
    font-size: 13px;
    color: #555;
    padding: 15px 10px;
    font-weight: 500;
    border-top: 1px solid #e4e7ea;
    line-height: 20px;
}

#tabela table tbody tr:nth-child(even){
        background-color: #f4f4f4 !important;
}